body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f7a14d, #f5b047);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    color: white;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}
